@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Sans+KR:wght@400;500;700&display=swap");
/* css에서 style 문서 불러오기 */
@import "./reset.css";
@import "./sub.css";
@import "./sub3-1.css";

:root {
  --main-color: #0c2d83;
  --bg-color-light: #f5f5f5;
  --text-light: #666;
  --white: #fff;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  background-color: var(--white);
}

h1 {
  font-family: "Crimson Text", serif;
  font-size: 26px;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
  /* text-align: center; */
}

h3 {
  font-size: 20px;
}

a {
  color: #000;
}
p {
  line-height: 26px;
}
table,
th,
td {
  border-collapse: collapse;
  border-style: none;
  padding: 1em;
}
img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  /* outline: 2px solid #333; */
  /* margin: 0 auto; */
  width: 100%;
  position: relative;
}
header {
  z-index: 9999;
  background: #fff;
  position: absolute;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#main-header {
  width: 100%;
  height: 80px;
}

#main-header h1 {
  position: absolute;
  left: 20px;
  top: 15px;
}

#gnb {
  position: absolute;
  right: 97px;
  top: 28px;
  z-index: 999;
  display: none;
}

/* 1단계 메뉴 */
#gnb .depth1 {
  display: flex;
}

#gnb .depth1 > li {
  margin-left: 20px;
  /* outline: 1px solid red; */
  text-align: center;
  width: 7em;
}

#gnb .depth1 > li > a {
  font-weight: 500;
  font-size: 18px;
}

/* 2단계 메뉴 */
#gnb .depth2 {
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-top: 26px;
  /*  display: none; */
  text-align: left;
}

#gnb .depth2 > li {
  margin-bottom: 10px;
}

#gnb .depth2 > li:last-child {
  margin-bottom: 0;
}

/* hover 액션 */
/* depth1 li에 마우스가 올라가면 depth2 표시 */
#gnb .depth1 > li:hover .depth2 {
  display: block;
}

#gnb .depth1 > li > a:hover {
  color: var(--main-color);
}

#gnb .depth2 > li > a:hover {
  text-decoration: underline;
}

#btn-toggle {
  position: absolute;
  right: 20px;
  top: 25px;
}
#site-menu-close,
#site-map-menu .logo {
  display: none;
}
#site-map-menu {
  display: none;
  position: absolute;
  z-index: 999999;
  top: 80px;
  left: 0;
  width: 100%;
  background: #fff;
}
#site-map-menu.show {
  display: block;
}
#site-map-menu a {
  padding: 10px;
}

#site-map-menu .depth1 > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: 500;
}
#site-map-menu .depth2 > li {
  font-weight: 400;
  text-indent: 1rem;
}
#site-map-menu .depth2 {
  display: none;
}
#site-map-menu .depth2.show {
  display: block;
}
#site-map-menu .depth1 > li > a {
  display: flex;
  justify-content: space-between;
}

/* 메인배너 */
#main-banner {
  height: calc(100vh - 80px);
  background: #000;
}
#main-banner .container {
  height: 100%;
  background-image: url(../images/main-banner-e1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-banner h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

#notice {
  margin: 20px;
}
.intro-list li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px;
}
li .icon-group {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
li:last-child .icon-group {
  border: none;
}

#introduce h1,
#notice h1 {
  margin: 30px;
}
#introduce h2 {
  text-align: center;
}
.intro-list li {
  margin-bottom: 20px;
}

/* sns banner */
#sns-banner .container {
  background-image: url(../images/sns-banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-left: 70px;
  padding-right: 70px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#sns-banner h1 {
  margin-bottom: 5px;
  font-weight: 400;
}
#sns-banner .banner-title h1 {
  font-size: 20px;
}
#sns-banner .banner-title p {
  font-size: 15px;
}

#sns-banner .sns-icon-group a {
  margin-left: 28px;
}

#main-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 90px;
}

#main-footer .container {
  padding: 50px 20px;
}

#main-footer .footer-menu {
  margin-bottom: 15px;
}

#main-footer .footer-menu a {
  font-size: 14px;
  color: #444;
}

#main-footer address,
#main-footer .copy {
  font-size: 12px;
  font-style: normal;
  color: #666;
  margin-bottom: 5px;
}

#sub-title {
  display: flex;
  align-items: flex-end;
}
#sub-title .container {
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.asdf {
  z-index: 9999;
  bottom: 30%;
}
